[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.2"

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"
requests = "*"
pylint-django = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.11"
